:root{
--brand-header-bg: #832121;
--brand-header-text: #F8FAFC;
--brand-sidebar-bg: #7e4e4e;
--brand-sidebar-text: #5b6d86;
--brand-text: #0f172a;
--brand-accent: #2563eb;
--brand-surface: #f8fafc;
--brand-logo-bg: #9f4141;
}
